
#maintitle {
		color: darkslategray;
		background: aliceblue;
		overflow: auto;
		text-align: center;
				}
html, body {
		/* background: lightsteelblue; */
		height: 100%;
		width: 100%;
	}
html {
		background: aliceblue;
	}
body {
		margin: auto;
	}
h3{
	text-align: center;
	}
p {
		color: darkslategray;
		font: 2.0 em "Volkhov", sans-serif;
		padding: 15px;
		line-height: 1.75;
		margin: auto;
		margin-top: 25px;
		margin-bottom: 25px;
			}
img {
		margin: 10px;
		display: block;
		margin-left: auto;
		margin-right: auto;
		width: 100%;
	}

ul {
		list-style-type: none;
			}
#topmenu { 
		background: aliceblue; overflow: auto;
		color: darkslategray;
			} 
#topmenu li { 
		float: left;
		padding: 10px;
			} 
#topmenu li:hover { 
		background: steelblue;
		color: slategray;
			}
#empty {
		border:none;
		background:none;
	}
#parallax {
	  background-image: url("images/image1.png");
	  height: 100%;
	  width: 100%;
	  background-attachment: fixed;
	  background-position: center;
	  background-repeat: no-repeat;
	  background-size: cover;
	  border-color: darkslategray;
	}
@media only screen and (max-device-width: 1366px) {
  #parallax {
    background-attachment: scroll;
  }
}
#rnghtml {}
table, th, td {
		color: darkslategray;
		background: aliceblue;
		border: 1px solid;
		border-radius:5px;
		border-color: darkslategray;
		padding: 5px;
		}

.golden {
		color: goldenrod;
		font-weight: bold;
		text-shadow: palegoldenrod 1px 0 10px;
			}
.center {
		text-align: center;
		}